<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 bg-info">
                <h1>Root</h1>
            </div>
            <div class="col-xs-6 bg-info text-right">
                <button id="addButton" type="button" class="btn btn-primary" @click="onAdd">Add Factory</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li v-for="factory in factories" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1">
                                <img src="/images/factory.svg" alt="Factory" class="factory-image img-responsive" />
                            </div>
                            <div class="col-xs-11">
                                <pc-factory
                                    :key="factory.id"
                                    :id="factory.id"
                                    :factory="factory"
                                    @edit="onEdit"
                                    @delete="onDelete"
                                ></pc-factory>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <pc-factory-modal
            :factory="editingFactory"
            :show-modal="showFactoryModal"
            :title="modalTitle"
            :isSaving="isSaving"
            @save="onSave"
            @close="onClose"
        ></pc-factory-modal>
        <modal
            :showModal="showDeleteModal"
            :closeAction="onClose"
        >
            <h1 slot="header">Delete {{ editingFactory.name }} Factory</h1>
            <div slot="body">
                <p>Are you sure you want to delete this factory?</p>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-danger" :disabled="isDeleting" @click="onClose">No</button>
                <button type="button" class="btn btn-success" :disabled="isDeleting" @click="onDeleteConfirm">Yes</button>
            </div>
        </modal>
        <div>Icons made by
            <a href="https://www.flaticon.com/authors/vaadin" title="Vaadin">Vaadin</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
        <notifications></notifications>
    </div>
</template>

<script>
    import FactoryView from './FactoryView.vue';
    import FactoryModal from './FactoryModal.vue';
    import Factory from '../models/Factory';
    import FactoryService from '../services/FactoryService';
    import Modal from 'modal-vue';

    export default {
        data: function() {
            return {
                factories: [],
                showFactoryModal: false,
                showDeleteModal: false,
                editingFactory: Factory.getDefaultInstance(),
                modalTitle: 'Add New Factory',
                isSaving: false,
                isDeleting: false
            };
        },
        mounted: function() {
            axios.get('/api/user')
                .then(function(response) {
                    Echo.private('users.' + response.data.id)
                        .listen('FactoryCreated', function(event) {
                            this.factories.push(Factory.fromJson(event.factory));
                        }.bind(this))
                        .listen('FactoryUpdated', function(event) {
                            let index = this.factories.findIndex(function(item) {
                                return item.id === event.factory.id;
                            });
                            this.factories.splice(index, 1, Factory.fromJson(event.factory));
                        }.bind(this))
                        .listen('FactoryDeleted', function(event) {
                            let index = this.factories.findIndex(function(item) {
                                return item.id === event.factory.id;
                            });
                            this.factories.splice(index, 1);
                        }.bind(this))
                    ;
                }.bind(this))
                .catch(function() {
                    this.$notify({
                        title: 'Error',
                        text: 'An error occurred while trying to retrieve user details',
                        type: 'error'
                    });
                }.bind(this))
            ;

            FactoryService.getFactories()
                .then(function(factories) {
                    this.factories = factories;
                }.bind(this))
                .catch(function() {
                    this.$notify({
                        title: 'Error',
                        text: 'An error occurred while trying to retrieve factories',
                        type: 'error'
                    });
                }.bind(this))
            ;
        },
        methods: {
            onAdd: function() {
                this.editingFactory = Factory.getDefaultInstance();
                this.showFactoryModal = true;
            },
            onEdit: function(factoryId) {
                this.editingFactory = this.factories.find(function(item) {
                    return item.id === factoryId;
                });
                this.showFactoryModal = true;
            },
            onSave: function(factory) {
                this.isSaving = true;
                if (factory.id === 0) {
                    FactoryService.createFactory(factory.name, factory.lowerBound, factory.upperBound,
                        factory.childCount)
                        .then(function(newFactory) {
                            this.factories.push(newFactory);
                            this.showFactoryModal = false;
                            this.isSaving = false;
                            this.$notify({
                                title: 'Success',
                                text: 'Successfully created factory: ' + newFactory.name,
                                type: 'success'
                            });
                        }.bind(this))
                        .catch(function() {
                            this.showFactoryModal = false;
                            this.isSaving = false;
                            this.$notify({
                                title: 'Error',
                                text: 'An error occurred while creating the factory',
                                type: 'error'
                            });
                        }.bind(this))
                    ;
                } else {
                    FactoryService.updateFactory(factory.id, factory.name, factory.lowerBound, factory.upperBound,
                        factory.childCount)
                        .then(function(updatedFactory) {
                            let index = this.factories.findIndex(function(item) {
                                return updatedFactory.id === item.id;
                            });
                            this.factories.splice(index, 1, updatedFactory);
                            this.showFactoryModal = false;
                            this.isSaving = false;
                            this.$notify({
                                title: 'Success',
                                text: 'Successfully edited factory: ' + updatedFactory.name,
                                type: 'success'
                            });
                        }.bind(this))
                        .catch(function() {
                            this.showFactoryModal = false;
                            this.isSaving = false;
                            this.$notify({
                                title: 'Error',
                                text: 'An error occurred while editing the factory',
                                type: 'error'
                            });
                        }.bind(this))
                    ;
                }
            },
            onClose: function() {
                this.showFactoryModal = false;
                this.showDeleteModal = false;
            },
            onDelete: function(factoryId) {
                this.editingFactory = this.factories.find(function(item) {
                    return item.id === factoryId;
                });
                this.showDeleteModal = true;
            },
            onDeleteConfirm: function() {
                this.isDeleting = true;
                FactoryService.deleteFactory(this.editingFactory.id)
                    .then(function() {
                        let index = this.factories.findIndex(function(item) {
                            return this.editingFactory.id === item.id;
                        }.bind(this));
                        this.factories.splice(index, 1);
                        this.showDeleteModal = false;
                        this.isDeleting = false;
                        this.$notify({
                            title: 'Success',
                            text: 'Successfully deleted factory',
                            type: 'success'
                        });
                    }.bind(this))
                    .catch(function() {
                        this.showDeleteModal = false;
                        this.isDeleting = false;
                        this.$notify({
                            title: 'Error',
                            text: 'An error occurred while deleting the factory',
                            type: 'error'
                        });
                    }.bind(this))
                ;
            }
        },
        components: {
            'pc-factory': FactoryView,
            'pc-factory-modal': FactoryModal,
            'modal': Modal
        }
    };
</script>

<style scoped>
    #addButton {
        margin: 22px auto 14px auto;
    }

    .factory-image {
        height: 60px;
    }
</style>
