<template>
    <div>
        <div class="pull-right text-right">
            <div class="badge">
                <vue-numeric :read-only="true" v-model="factory.lowerBound"></vue-numeric> :
                <vue-numeric :read-only="true" v-model="factory.upperBound"></vue-numeric>
            </div>
            <div class="btn-group-sm">
                <button type="button" class="btn btn-primary" @click="onEdit">Edit</button>
                <button type="button" class="btn btn-danger" @click="onDelete">Delete</button>
            </div>
        </div>
        <h3 class="list-group-item-heading">{{ factory.name }}</h3>
        <ul class="list-group-item-text">
            <pc-number-node
                v-for="node in factory.numberNodes"
                :key="node.id"
                :value.number="node.value"
            ></pc-number-node>
        </ul>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    import NumberNodeView from './NumberNodeView.vue';
    import VueNumeric from 'vue-numeric';
    import Factory from '../models/Factory';

    export default {
        props: {
            factory: {
                required: true,
                type: Factory
            }
        },
        methods: {
            onEdit: function() {
                this.$emit('edit', this.factory.id);
            },
            onDelete: function() {
                this.$emit('delete', this.factory.id);
            }
        },
        components: {
            'pc-number-node': NumberNodeView,
            VueNumeric
        }
    };
</script>

<style scoped>
    .btn-group-sm {
        margin-top: 10px;
    }
</style>