<template>
    <modal :showModal="showModal" :closeAction="onClose">
        <h1 slot="header">{{ title }}</h1>
        <form slot="body" @submit.prevent="onSave">
            <div slot="body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        class="form-control"
                        type="text"
                        id="name"
                        v-model.trim="factory.name"
                        placeholder="Name"
                        maxlength="191"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="child-count">Number of Children</label>
                    <input
                        id="child-count"
                        class="form-control"
                        type="number"
                        min="1"
                        max="15"
                        step="1"
                        v-model.number="factory.childCount"
                        placeholder="Number of Children"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="lower-bound">Lower Random Number Bound</label>
                    <input
                        id="lower-bound"
                        class="form-control"
                        type="number"
                        min="1"
                        :max="factory.upperBound"
                        step="1"
                        v-model="factory.lowerBound"
                        placeholder="Lower Random Number Bound"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="upper-bound">Upper Random Number Bound</label>
                    <input
                        id="upper-bound"
                        class="form-control"
                        type="number"
                        :min="factory.lowerBound"
                        max="4000000000"
                        step="1"
                        v-model="factory.upperBound"
                        placeholder="Upper Random Number Bound"
                        required
                    />
                </div>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-danger" :disabled="isSaving" @click="onClose">Cancel</button>
                <button type="submit" class="btn btn-success" :disabled="isSaving">Save</button>
            </div>
        </form>
    </modal>
</template>

<script>
    import Modal from 'modal-vue';
    import Factory from '../models/Factory';

    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            showModal: {
                type: Boolean,
                required: true
            },
            factory: {
                type: Factory,
                required: true
            },
            isSaving: {
                type: Boolean,
                required: true
            }
        },
        methods: {
            onSave: function() {
                this.$emit('save', this.factory);
            },
            onClose: function() {
                this.$emit('close');
            }
        },
        components: {
            Modal
        }
    };
</script>