<template>
    <li>
        <vue-numeric :read-only="true" v-model="value"></vue-numeric>
    </li>
</template>

<script>
    module.exports = {
        props: {
            value: {
                type: Number,
                required: true
            }
        }
    };
</script>